FQDNLookup true
LoadPlugin logfile
LoadPlugin network
LoadPlugin nginx
LoadPlugin rrdtool

Interval {{ INTERVAL|default("1.0") }}

<Plugin logfile>
  LogLevel "info"
  File "stdout"
  PrintSeverity true
</Plugin>

{% if INFLUXDB_HOST|default %}
<Plugin network>
  Server "{{ INFLUXDB_HOST }}" "{{ INFLUXDB_PORT|default(25826) }}"
</Plugin>
{% endif %}

{% if NGINX_STUB_ADDRESS|default %}
<Plugin nginx>
  URL "{{ NGINX_STUB_ADDRESS }}"
</Plugin>
{% endif %}

<Plugin rrdtool>
  DataDir "/var/lib/collectd/rrd"
</Plugin>

